
 
  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label :years_practice %><br />
    <%= f.number_field :years_practice %>
  </div>

