<p style="margin:10px 0px"><b>Pet Details</b></p>
<div class="row" style="margin-top:10px">

	<div style ="float:left;width:50%">
		<%= wrap_input_field("#{f.text_field :name}", "<b>Pet Name</b><span class='text-danger'> *</span>") %>
	</div>

</div>